{% extends 'shop/layouts/main.html' %}
{% block title %}
Register | online shopping
        {% endblock title %}
{% block content %}
{% include 'shop/inc/message.html' %}
<section class="py-5 text-center container " style="margin-top: 70px;">
        <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Bestseller</h1>
                        <p class="lead text-muted">
                                our most popular product based on sales. Update hourly.
                        </p>
                        <p>
                                <a href="{% url 'login' %}" class="btn btn-primary my-2">Already user</a>
                                <a href="{% url 'collections' %}"class="btn btn-primary my-2">Register</a>
                        </p>

                </div>
        </div>

</section>
<section class="bg-light py-4 my-5">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <h4 class="mb-3">
                                        Categories
                                </h4>
                                <hr style="border-color:rgb(86, 81, 81);">

                        </div>
                        {% for i in catagory %}
                        <div class="col-md-4 col-lg-3">
                                <div class="card my-3">
                                        <img src="{{ i.image.url  }}" 

                                        class="card-image-top" alt="Categories" width="fit-content" height="400px">
                                        <a href="{% url 'collections' i.name %}" style="text-decoration: none;">
                                        <div class="card-body">
                                                <h5 class="card-title text-primary"> {{ i.name }}</h5>
                                                <p class="card-text">{{i.description}}</p>
                                               
                                        </div>
                                        </a>

                                </div>
                        </div>
                        {% endfor %}
                </div>
        </div>
</section>

{% endblock content %}
