{% extends 'shop/layouts/main.html' %}
{% block title %}
Register | online shopping
        {% endblock title %}
{% block content %}



<div class="container  my-5 ">
    <div class="row">
        <div class="col-12">
            
<h1>register</h1>
<hr>
{% include 'shop/inc/message.html' %}

        </div>
    </div>
    <section class="py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="" class="form-label">
                                User name
                            </label>
                            {{form.username}}
                          

                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">
                                Email
                            </label>
                            {{form.email}}

                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">
                                
                                Create Password

                            </label>
                            {{form.password1}}
                           
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">
                                Confirm Password                            </label>
                            {{form.password2}}
                            
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Register
                        </button>
                    </form>
                    <p class="my-2">Already user? <a href="{% url 'login' %}">
                        login Now
                    </a></p>
                </div>
                <div class="col-6">
                    {% if form.errors.username %}
                    <label for="" class="text-danger d-block ">
                        {{ form.errors.username }}
                    </label>
                    {% endif %}
                    {% if form.errors.email %}
                    <label for="" class="text-danger d-block">
                        {{ form.errors.email }}
                    </label>
                    {% endif %}

                    {% if form.errors.password1 %}
                    <label for="" class="text-danger d-block">
                        {{ form.errors.password1 }}
                    </label>
                    {% endif %}

                    {% if form.errors.password2 %}
                            <label for="" class="text-danger d-block">
                                {{ form.errors.password2 }}
                            </label>
                            {% endif %}

                    </div>
            </div>
        </div>
    </section>
   
</div>

{% endblock content %}